target
.idea
.classpath
.metadata
.project
.settings
.externalToolBuilders
maven-eclipse.xml
*.swp
*.iml
*.ipr
*.iws
*.bak
.vlt
.DS_Store
jcr.log
atlassian-ide-plugin.xml
.vlt-sync.log
.vlt-sync-config.properties
node
node_modules

dist
coverage

react-app-env.d.ts
*.tsbuildinfo
examples/ui.apps/src/content/jcr_root/apps/core-components-examples/wcm/react/clientlibs/react-spacomponents/resources/*
!examples/ui.apps/src/content/jcr_root/apps/core-components-examples/wcm/react/clientlibs/react-spacomponents/resources/stats.json

examples/ui.apps/src/content/jcr_root/apps/core-components-examples/wcm/react/clientlibs/react-webcomponents/resources