target
.idea
.classpath
.metadata
.project
.settings
.externalToolBuilders
maven-eclipse.xml
*.swp
*.iml
*.ipr
*.iws
*.bak
.vlt
.DS_Store
jcr.log
atlassian-ide-plugin.xml
.vlt-sync.log
.vlt-sync-config.properties
node
node_modules

actions/common/**/*
actions/common/**
.vscode/**/*

react-app-env.d.ts
dist
build
serverBuild
